NEXT_PUBLIC_CLIENT_NAME="PT. Maju Jaya"
NEXT_PUBLIC_BRAND_COLOR="#14b8a6"
NEXT_PUBLIC_BRAND_COLOR_DARK="#0d9488"

DATABASE_URL="postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech/pogrid?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.region.aws.neon.tech/pogrid?sslmode=require"

IRON_SESSION_PASSWORD="min-32-chars-random-string"

PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER="ap1"
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER="ap1"

SUPER_ADMIN_PIN="123456"

ADMIN_WA_NUMBER="628123456789"
COMPANY_NAME="PT. Maju Jaya"
